* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
}

html {
	scrollbar-width: none;
}

body {
	font: {
		family: arial, sans-serif;
		size: 16px;
		weight: 500;
	}
}

#container {
	margin: 0 5%;
	box-shadow: 0 0 5px 2px #b3b3b3;
}

#contact {
	background-color: #295b35;
	color: #fff;
	padding: 1rem 2rem;
	gap: 1rem;
}

nav {
	padding: 1rem 2rem;
	gap: 2rem;

	ul {
		gap: 1em;

		li {
			list-style-type: none;
			position: relative;

			ul {
				z-index: 1;

				&.flex-column {
					display: none;
					position: absolute;
					background-color: #fff;
					color: #555;
					gap: 0em;
					width: max-content;

					li {
						padding: 0.5em;
						border-top: 1px solid #ddd;

						&:first-child {
							border-top: none;
						}

						&:hover {
							background-color: #ddd;
							color: inherit;
						}
					}
				}
			}

			&:hover {
				color: #009933;

				ul.flex-column {
					display: flex;
				}
			}
		}
	}
}

#welcome {
	position: relative;

	img {
		width: 100%;
	}

	&::after {
		content: "";
		background-image: url('../img/fanta2.png');
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transform: scale(0) translateX(100%);
		transition-duration: .5s;
	}

	&:hover::after {
		opacity: 1;
		transform: scale(1) translateX(0);
	}
}

#news {
	gap: 2rem;
	padding: 1rem;
	overflow: hidden;

	div {
		box-shadow: 0 0 5px 2px #b3b3b3;

		img {
			width: 100%;
		}

		p {
			padding: 1rem;
			text-align: center;
		}

		&:hover {
			img {
				opacity: .5;
				transition-duration: .4s;
			}
		}
	}
}

footer {
	#links {
		background-color: #297b3c;

		ul {
			padding: .5rem 2rem;
			gap: 1rem;

			li {
				list-style-type: none;
				padding: .5rem 0;
				border-bottom: 1px solid #fff;
			}
		}
	}

	#patreons {
		background-color: #295b35;
		padding: 2rem;

		img {
			display: block;
			margin: 0 auto;
		}
	}
}

.flex {
	&-row {
		display: flex;
		flex-direction: row;
	}

	&-column {
		display: flex;
		flex-direction: column;
	}

	&-grow {
		flex-grow: 1;
	}

	&-same-size {
		> * {
			flex: 1 1 0px;
		}
	}

	&-align {
		&-items {
			&-center {
				align-items: center;
			}
		}

		&-self {
			&-center {
				align-self: center;
			}
		}
	}
}

.txt {
	&-gray {
		color: #9f9f9f;
	}

	&-white {
		color: #fff;
	}

	&-upper {
		text-transform: uppercase;
	}
}

a {
	color: inherit;
	text-decoration: none;
}
